{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<h1>Records...</h1>

<table class="table">
  <thead>
    <tr>
    	<th scope="col">id</th>
    	<th scope="col">Name</th>
		<th scope="col">Email</th>
	    <th scope="col">Phone</th>
		<th scope="col">Address</th>
		<th scope="col">city</th>
    	<th scope="col">staee</th>
    	<th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
	{% if records %}
		{% for record in records %}
			{{ record.first_name }}
			{{ record.last_name }}
			{{ record.email }}
			{{ record.phone }}
			{{ record.address }}
			{{ record.city }}
			{{ record.state }}
			{{ record.zipcode }}
			</br>
		{% endfor %}
	{% else %}
		<h1>No records...</h1>	

	{% endif %}

{% else %}

<div class="col-md-6 offset-md-3">

	<h1>Login</h1>
	<br>
	<form method="post" action="{% url 'home' %}">

		{% csrf_token %}

		<form>
			<div class="mb-3">
			  <input type="text" class="form-control" name="username" placeholder="User Name" required>
			</div>
			<div class="mb-3">
			  <input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>
			<button type="submit" class="btn btn-secondary">Submit</button>
		  </form>

	</form>
</div>

{% endif %}

{% endblock %}